hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}


/* Own code*/
/* TAGS */
.main {
  font-weight: bold;
  font-family: sans-serif;
  text-decoration: none;
}

a.tag {
  color: white;
}
.tag {
  margin: 0 2px;
  padding: 4px 10px;
  color: #fff;
  background: #999;
  font-size: 80%;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px;
   
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .yellow {
      background-color: goldenrod;
  }
  
  .blue {
      background-color: royalblue;
  }
  
  .green {
      background-color: seagreen;
  }
  
  .red {
      background-color: #df2d4f;
  }