---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<link href="/css/custom.css" rel="stylesheet" type="text/css">

{% for post in site.posts %}
<header class="post-header">
    <h4 class="post-title p-name smaller effect-underline" itemprop="name headline"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | escape }}</a></h4>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y %H:%M" -%}
        {{ post.date | date: date_format }}
      </time>
      {% assign author = post.author | default: site.author %}
      {%- if author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ author }}</span></span>
      {%- endif -%}
    </p>
    <div class="main">
        {% assign categories = post.category %}
        
      {% for category in categories %}
       <a class="tag red" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{ category }}</a>
      {% endfor %}
    </div>
  </header>

{%endfor%}


<blockquote class="trello-card"><a href="https:&#x2F;&#x2F;trello.com&#x2F;c&#x2F;tSmg0g8K&#x2F;14-untitled">‎‎‎‎‎</a></blockquote><script src="https://p.trellocdn.com/embed.min.js"></script>